@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" href="@Url.Action("Worker", "Home")" role="button">I am worker</a>
        <a class="btn btn-primary" href="@Url.Action("Administrator", "Home")" role="button">I am administrator</a>
    </div>
</div>
